<h4>Create new Publication</h4>

<form [formGroup]="form" *ngIf="!!form" (ngSubmit)="onSubmit()" class="form" fxLayout="column">
  <mat-form-field>
    <input matInput placeholder="titre" formControlName="titre">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="type" formControlName="type">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="dateApparition">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="lien" formControlName="lien">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="sourcePdf" formControlName="sourcePdf">
  </mat-form-field>
  <div class="form-element">
    <button mat-raised-button color="primary" type="submit" class="button" [disabled]="form.invalid">Submit</button>
  </div>
</form>

